.t-menuburger {
  position: relative;
  width: 30px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.t-menuburger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 9999px;
  left: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.t-menuburger span:nth-child(1) {
  top: 0;
}

.t-menuburger span:nth-child(2),
.t-menuburger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.t-menuburger span:nth-child(4) {
  bottom: 0;
}

.t-menuburger_opened span:nth-child(1),
.t-menuburger_opened span:nth-child(4) {
  opacity: 0;
}

.t-menuburger_opened span:nth-child(2) {
  transform: translateY(-50%) rotate(45deg);
}

.t-menuburger_opened span:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}
