@media (min-width: 900px) {
  .contacts-layout {
    flex-direction: row;
  }

  .contacts-col {
    width: 50%;
  }
}

.contacts-bg {
  background-color: #292929;
}

.contacts-map-col {
  min-height: 640px;
}


