@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-slate-900;
  }
}
@import "./header.css";
@import "./main-block.css";
@import "./category.css";
@import "./showphoro.css";

.section-title__text {
  font-size: 20px;
}

.section-title__text b,
.section-title__text strong {
  font-weight: 700;
}
