@import "tailwindcss";

@import "./header.css";
@import "./category.css";
@import "./video-section.css";
@import "./map.css";
@import "./hero.css";
@import "./product-details.css";
@import "./basket.css";
