@import "tailwindcss";

@import "./basket.css";

.hero-height {
  height: 700px;
}

.video-height {
  height: 540px;
}

@media (max-width: 640px) {
  .video-height {
    height: 400px;
  }
}

.map-height {
  min-height: 640px;
}

@media (max-width: 768px) {
  .map-height {
    min-height: 500px;
    height: 300px;
  }
}

.cart-sidebar-width {
  width: 560px;
}

@media (max-width: 640px) {
  .cart-sidebar-width {
    width: 100%;
  }
}

.cart-icon-size {
  width: 72px;
  height: 72px;
}

.cart-icon-position {
  top: 50px;
  right: 50px;
}

.gallery-thumb-size {
  width: 72px;
  height: 72px;
}

.color-option-width {
  width: 140px;
}

.menu-toggle-width {
  width: 30px;
}

.radio-size {
  width: 18px;
  height: 18px;
}

.sticky-top-offset {
  position: sticky;
  top: 100px;
}

.text-size-28 {
  font-size: 28px;
}

.rounded-10 {
  border-radius: 10px;
}
