@import "tailwindcss";

@import "./header.css";
@import "./main-block.css";
@import "./category.css";
@import "./showphoro.css";
@import "./video-section.css";
@import "./benefits.css";
@import "./faq.css";
@import "./map.css";

/* Футер */
.footer-bar {
  height: 70px;
}
