.video-frame {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: none;
}

.video-frame.active {
  display: block;
}

.video-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-height {
  height: 540px;
}

@media (max-width: 767px) {
  .video-height {
    height: 400px;
  }
}
